:root{
    --main-bg-color: #0968ad;
}
*{
    padding: 0;
    margin: 0;
}
.wsp{
    height: 4vh;
    background-color: white;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-bg-color);
    height: 23vh;
    width: 100vw;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width: 22vw;
    height: 22vh;
}
.container{
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 8vh;
    border:none;
    background-color: white;
    border-radius: 3px;
    position: relative;
    left: 65vw;
    bottom:26vh;
    margin-right: auto;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container button{
    height:8vh;
    width:4.6vw ;
    margin: 0;
    background-color: white;
    border: none;
}
.btn :hover{
    display: flex;
    height:9vh;
    background-color:rgb(250, 245, 245);
    align-items: center;
    justify-content: center;
    color:var(--main-bg-color);
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

}
.container button a{
    text-decoration: none;
    color: grey;
}
footer{
    height: auto;
    border:none;
    display: flex;
    align-items: center;
}
footer p{
    color:grey;
    margin-left:10vw;
}
.fcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    margin-left: 40vw;
    margin-right: 2vw;
    height: 6vh;
}
.fcontainer button{
    height:5vh;
    width:4.6vw ;
    margin: 0;
    background-color: white;
    border: none;
}
.fcontainer button :hover{
    color: var(--main-bg-color);
}
.fcontainer button a{
    text-decoration: none;
    color: gray;
}


@media screen and (max-width: 900px) {

    nav{
        justify-content: flex-start;
        padding-left: 4vw;
        width: 100vw;
    }
    .img{
       width: 24vw;
    }
    .container{
        position: relative;
        left:30vw;
        width: 400px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container button{
        width:70px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fcontainer{
        margin: auto;
        width: 400px;
    }
    .fcontainer button{
        width: 70px;
    }
    footer p{
        margin: auto;
    }
 
}
@media screen and (max-width: 750px){
    .container{
        width: 100vw;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top:auto;
        margin: auto;
        padding:2px;
    }
    nav{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    img{
        width:200px;
    }
 
}